<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.EmployeeMapper">

    <select id="getEmp" resultType="com.mybatis.bean.Employee">
        select * FROM employee where id =#{id}
    </select>

    <insert id="insertEmp" parameterType="com.mybatis.bean.Employee">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into employee(lastName,gender,email,d_id) values (#{lastName},#{gender},#{email},#{dId})
    </insert>
</mapper>